@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mukta:wght@300&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;1,100;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  background-color: #100f10;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #100f10;
  color: #8739f9;
  padding: 10px;
}

.navbar img {
  width: 50px;
  height: auto;
  margin-left: 40px;
  border-radius: 50%;
}

.navbar h3 {
  margin: 0;
  font-size: 20px;
}

.navbar a {
  color: #8739f9;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease;
}

.navbar a:hover {
  color: #fff;
}

.navbar i {
  background-color: #100f10;
  margin-left: 5px;
}
#name{
  color: #B80065;
}
.navbar-right {
  display: flex;
  align-items: center;
}

.image-animate {
  transition: transform 1s ease-in-out;
}

.image-animate:hover {
  transform: scale(0.9);
}

.heading-animate {
  transition: color 0.3s ease-in-out;
}

.heading-animate:hover {
  color: #ff6bcb;
}

.text-animate {
  transition: color 0.3s ease-in-out;
}

.text-animate:hover {
  color: #8739f9;
}
